Repository redhat-plumbers-in-action/differential-shellcheck, pull requests merged in 2023-01, with the labels that each got.

#178 Use `GITHUB_EVENT_NAME` only when var is `undefined`
  src/functions.sh
Labels: type: bugfix, source

#110 Expose SARIF results as output for further use :package:
  .github/workflows/differential-shellcheck.yml
  README.md
  action.yml
  docs/CHANGELOG.md
  src/index.sh
Labels: type: feature, type: breaking, source, configuration, documentation

#186 Return permissions into example of use :closed_lock_with_key:
  README.md
Labels: type: documentation, documentation

#187 doc: avoid hard-coding main branch name
  README.md
Labels: type: documentation, documentation

#189 Revert "doc: avoid hard-coding main branch name"
  README.md
Labels: type: documentation, documentation, merge-strategy: rebase

#190 Correctly handle character escaping in file names (e.g. `␣` and `&`) :parachute:
  output.sarif
  src/functions.sh
  test/get_scripts_for_scanning.bats
Labels: type: bugfix, source, test

#192 Improve permission documentation :book:
  .github/workflows/differential-shellcheck.yml
  README.md
Labels: type: documentation, configuration, documentation
