Repository redhat-plumbers-in-action/differential-shellcheck, pull requests merged in 2023-09, with the labels that each got.

#310 doc: Explain format of path list options
  README.md
Labels: type: documentation, documentation, merge-strategy: rebase

#311 Add section documenting VS Code integration :woman_technologist:
  README.md
  docs/images/vs-code-sarif-connect-dark.png
  docs/images/vs-code-sarif-results-dark.png
Labels: type: documentation, documentation

#319 Update `csutils` (`csdiff` and `csgrep`) to 3.0.4
  Dockerfile
  docs/CHANGELOG.md
  test/Dockerfile
  test/fixtures/get_defects/defects.log
  test/fixtures/get_fixes/fixes.log
  test/show_versions.bats
Labels: type: maintenance, configuration, documentation, test
