Repository redhat-plumbers-in-action/differential-shellcheck, pull requests merged in 2024-04, with the labels that each got.

#376 Fix curl Argument list too long by using a payload.json file
  src/functions.sh
Labels: type: bugfix, source

#385 build(deps): bump codecov/codecov-action from 3.1.4 to 4.3.0
  .github/workflows/unit-test.yml
Labels: type: dependencies, github-actions, configuration

#391 Make `fetch-depth: 0` more visible in example :warning:
  README.md
Labels: type: documentation, documentation

#392 Add alt properties to images :framed_picture:
  README.md
Labels: type: documentation, documentation

#393 Allow specifying WORK_DIR for intermediate files
  src/index.sh
  src/summary.sh
  src/validation.sh
Labels: type: feature, source

#395 Update csdiff to `3.2.2` :rocket:
  Dockerfile
  docs/CHANGELOG.md
  test/Dockerfile
  test/fixtures/get_defects/defects.log
  test/fixtures/get_fixes/fixes.log
  test/show_versions.bats
Labels: type: feature, configuration, documentation, test
